i{
    color:#fff;
    display:inline-block;
    line-height:24px;
}
.icon_text:before{
    content:"\f0ae";
}
.icon_message:before{
    content:"\f003";
}
.icon_alerm:before{
    content:"\f0f3";
}
.fa-hand-pointer-o{
    color:#393D49;
    margin:3px 1px 0 0;
}
.fa-sort-desc{
    color:grey;
    margin:0 0 0 1px;
}


html{
    height:100%;
}
body{
    height:100%;
    font-family:'FontAwesome';
    overflow:hidden;
}
.box{
    height:100%;
    width:100%;
}
header{
    height: 60px;
    background-color:#23262E;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    
}
header .toggle_navigation{
    float:left;
    margin:20px 15px 0 15px;
}
header .toggle_navigation:before{
    float:left;
    content:"\f0c9";
    font-size:20px;
    color:#fff
}
header .logo{
    float:left;
    font-size:21px;
    color:#fff;
    margin-top:15px;
    font-family:'Open Sans', sans-serif;
    display:block;
}
header .logo span{
    color:#fff;
}

.weather{
    height:60px;
    line-height:60px;
    color:#fff;
    font-size:14px;
    margin-left:80px;
}
.weather span:nth-of-type(1){
    margin-right:10px;
    color:rgba(255, 255, 0, 0.836);
}
.weather img{
    vertical-align:middle;
    margin:0 10px;
}
header .top_right{
    width: 128px;
    height: 42px;
    float:right;
    margin:8px 16px 0 26px;
    border-radius:4px;
}
header .top_right .user{
    padding:6px;
    width: 116px;
    height: 30px;
    line-height:1.428571429;
    vertical-align:middle;
}
header .top_right img{
    width: 32px;
    height:32px;
    border-radius:50%
}
header .top_right span{
    font-size:13px;
    color:#FFF;
    vertical-align:top;
    display:inline-block;
    line-height:29px;
    width:60px;
    text-align:center;
}
header .top_right b{
    vertical-align:middle;
    border-top:4px solid #555555;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

main{
    width:100%;
    height:100%;  
    margin-top:60px;
    display: flex;  
    flex-direction: row;  
    align-items: center; 
}

aside{
    width:200px;
    height:100%;
    background-color:pink;
    background:#393D49;
    
}
aside li{
    width: 80%;
    height: 47px;
    padding:2% 10%;
}
aside li:hover{
    background-color:#4E5465;
    border-left:3px solid #009688;
    width:78%;
}

aside .user_photo{
    width:100%;
    padding:15px 0 5px 0;
    height:140px;
    text-align:center;
    background-color:#393D49;
}
.user_photo img{
    width: 76px;
    height:76px;
    border:4px solid #44576b;
    border-radius:50%;
   
}
.user_photo p{
    font-size:12px;
    color:#fff;
}

aside>ul>li>a{
    width: 164px;
    height: 16px;
    padding:8% 0 8% 10%;
    color:#fff;
    display:inline-block;
}

aside>ul>li>a:hover{
    color:#fff;
}
aside>ul>li>a>i{
    font-size:15px;
    padding-right:6px;
    width:16px;
    height:16px;
    display:inline-block;
}
aside .icon_index:before{
    content:"\f015";
    color:#fff;
}
aside span.word{
    width: 60%;
    height: 16px;
    line-height:16px;
    font-size:14px;
    display:inline-block;
}
aside .fold{
    width: 17px;
    height: 17px;
    font-size:14px;
}
main .content{
    border-top:5px solid #1AA094;
    border-left:2px solid #1AA094;
    height:100%;
    flex-grow: 1; 
}
.top{
    height:40px;
    width:100%;
    border-bottom:1px solid #e2e2e2;
}

.top .title li{
    width:120px;
    color:#000;
    background-color:#fff;
    line-height:40px;
    font-size:14px;
    min-width:65px;
    padding:0 6px;
    position:relative;
}
.top .title i{
    color:#000;
    font-weight:thin;
}
.top li i:nth-of-type(1){
    display:block;
    margin-left:10px;
    line-height:40px;
    margin-right:10px;
}
.top .title .fa-close:hover{
    background-color:#FF5722;
    font-weight:bold;
}

.title .fa-close{
    position:absolute;
    top:10px;
    right:2px;
    width:17px;
    height:17px;
    text-align:center;
    line-height:17px;
}
.top .handle{
    width:98px;
    padding:10px 20px;
    height:20px;
    border-left:1px solid #e2e2e2;
    position:relative;
}

.handle ul{
    position:absolute;
    top:40px;
    border:1px solid #cecece;
    width:98px;
    border-radius:6px;
    display:none;
}
.handle ul li{
    padding:5px;
    margin:2px;
}
.handle ul li:hover{
    background:#5FB878
}
.handle ul i{
     color:#23262E;
}
.bottom{
    width: 1164px;
    height:500px;
    overflow-y:scroll;
}



